@font-face {
  font-family: MakSemiBold;
  src: url("fonts/MakSemiBoldHigh/font.woff") format("woff"),
    url("fonts/MakSemiBoldHigh/font.woff2") format("woff2");
  /* Add additional src declarations for different font file formats if necessary */
}

@font-face {
  font-family: MakExtraBold;
  src: url("fonts/MakExtraBold/font.woff") format("woff"),
    url("fonts/MakExtraBold/font.woff2") format("woff2");
  /* Add additional src declarations for different font file formats if necessary */
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: "Montserrat", sans-serif;
  color: #f6f5f5;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

/* POP */
.pop_up {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 2;
}

.pop_up_end {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 2;
}

.pop_up.active {
  opacity: 1;

  display: block;
}

.pop_up_end.active {
  display: block;
}

.pop-end-h {
  font-size: 32px;
  font-family: MakExtraBold;
  align-items: center;
  text-align: center;
  padding-top: 101px;
  color: #892b28;
}
.pop-end-p {
  font-size: 16px;
  text-align: center;
  align-items: center;
  font-weight: 400;
  color: #141414;
  padding-bottom: 50px;
}
.button-end {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 500;
  color: #f6f5f5;
  padding: 18px 80px;
  background-color: #892b28;
  white-space: nowrap;
}

.pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.container-pop {
  margin-left: 10px;
  margin-right: 10px;
}

.pop_up_top {
  padding-top: 14px;
  display: flex;
}

.pop_up_body {
  margin: auto;
  width: 400px;
  background-color: #f6f5f5;
  /* text-align: center; */
  position: relative;
}

.Pop-top-text {
  color: #892b28;
  font-size: 24px;
  font-family: MakExtraBold;
}

.pop_up_top {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.button {
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 500;
  color: #f6f5f5;
  padding: 18px 0;
  width: 100%;
  background-color: #892b28;
  white-space: nowrap;
}

.button:hover {
  background-color: #ac322e;
}

.input {
  background-color: #d9d9d9;
  max-width: 100%;
  /* margin: 0 auto; */
  color: black;
  margin-bottom: 8px;
  padding: 14px 16px;
}

.pop-up-p-info {
  color: #606060;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  margin-left: 10px;
}

.form {
  margin-top: 20px;
}

.form-text {
  font-size: 16px;
  font-weight: 600;
  color: #141414;
}

/* POP END */
/*Burger Menu */
.menu {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(-250%);
  transition: transform 400ms;
  box-sizing: border-box;
  height: 100%;
  background: #141414;
  z-index: 3;
}

.menu.active {
  overflow-y: scroll;
  opacity: 1;
  transition: transform 400ms;
  transform: translateY(0%);
}

.header-menu-wrap-h {
  font-family: MakExtraBold;
  color: #f6f5f5;
  font-size: 26px;
}
.header-menu-wrap-p {
  font-size: 16px;
  color: #f6f5f5;
}

.text-menu {
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap-top {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 420px;
  margin: 0 auto;
  padding-top: 75px;
}

.wrap-psych {
  padding: 30px 10px 30px 10px;

  max-width: 420px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px #f6f5f5 solid;
}
.wrap-psych-h {
  font-size: 26px;
  font-family: MakExtraBold;
}

.column-item {
  max-width: 400px;
  margin: 0 auto;
  border-bottom: 1px #4a4a4a solid;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #f6f5f5;
}
.column-item-text {
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
}

.header-menu {
  margin-bottom: 20px;
}

/* Menu END*/

/* Header */
.main-container {
  max-width: 430px;
  margin: 0 auto;
  overflow-x: clip;
}
.header {
  z-index: 2;
  position: fixed;

  max-width: 430px;
  width: 100%;
  top: 0;

  background-image: url(img/header.png);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.99;
  border-bottom: 1px solid rgb(246, 245, 245);
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 410px;

  margin: 0 auto;
  padding: 35px 10px 15px 10px;
}

.header-bottom-right {
  display: flex;
  gap: 5px;
}

.header-text {
  color: #f6f5f5;
  font-weight: 400;
  font-size: 16px;
}
.header-p {
  color: #f6f5f5;
  font-weight: 600;
  font-size: 12px;
}

/* Header ENd */

/* Viktoria */
.viktoria {
  max-width: 410px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.container-vik {
  /*  */
  margin-top: 85px;
  background-image: url(img/viktoria.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vik-top {
  padding-top: 20px;
  display: flex;
  gap: 8px;
}
.vik-top-text {
  /* font-family: MakSemiBold; */
  border-right: 1px white solid;
  font-weight: 400;
  padding-right: 10px;
}

.vik-title {
  font-family: MakSemiBold;
  font-size: 72px;
  font-weight: 400;
  padding-bottom: 406px;
}

.vik-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bottom-vik-text {
  font-size: 18px;
  font-weight: 300;
}
.button-modal {
  color: #f6f5f5;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  padding: 18px 45px;
  background-color: #892b28;
  white-space: nowrap;
  margin-bottom: 60px;
}

.button-modal:hover {
  background-color: #ac322e;
}

/* Viktoria End */

/* BIO */
.bio {
  background-color: #f6f5f5;
}

.container-bio {
  max-width: 390px;
  margin: 0 auto;
}

.line-top {
  padding-top: 66px;
  padding-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.line-bot {
  padding-top: 26px;
  padding-bottom: 66px;

  display: flex;
  justify-content: space-between;
}

.margin-bio-cards {
  margin-left: 10px;
  margin-right: 10px;
}

.bio-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 420px;
  width: 100%;
}

.bio-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-bio-top {
  color: #f6f5f5;
  padding-top: 26px;
  font-size: 20px;
  font-weight: 600;
}

.card-bio-bot {
  color: #f6f5f5;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 20px;
}

.bio-card-text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  gap: 5px;
}
/* BIO END */

/* About */
.about {
  background-color: #f6f5f5;
}

.about-text {
  color: #141414;
  font-family: MakSemiBold;
  font-size: 42px;
  font-weight: 400;
  margin-left: 10px;
}

.container-about {
  margin-left: 10px;
  margin-right: 10px;
}

.about-top {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.block-wrap-h {
  color: #141414;
  font-weight: 700;
  font-size: 16px;
}

.block-wrap {
  margin-left: 14px;
}

.block-wrap-p {
  font-size: 16px;
  color: #141414;
  font-weight: 400;
}

.block {
  display: flex;
  align-items: center;
  border-bottom: 1px #cccccc solid;
  padding-bottom: 14px;
  margin-left: 10px;
}

.blocks {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 20px;
}

.wrap-about {
  display: flex;
  justify-content: space-between;
}

.wrap-text {
  display: flex;
}

.wrap-text-img {
  margin-top: 8px;
  margin-right: 5px;
  height: 4px;
  width: 4px;
}

.wrap-about-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrap-about-right {
  background-image: url(img/right.jpg);
  width: 45%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Request */

.request {
  background-image: url(img/REQUEST.jpg);
}

.container-request {
  padding: 0 10px;
  max-width: 420px;
  margin: 0 auto;
}

.left-request {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 60px;
}

.right-request {
  padding-top: 104px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-request {
  width: 191px;
  height: 191px;
  background-color: #f6f5f5;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-request-p {
  font-size: 14px;
  font-weight: 400;
}

.request-top-h {
  padding-top: 60px;
  font-family: MakSemiBold;
  font-size: 42px;
  white-space: nowrap;
}

.photos-request {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.request-top-p {
  font-size: 22px;
  font-family: MakSemiBold;
  padding-bottom: 20px;
}

/* Psycho */

.with-me {
  background-color: #f6f5f5;
}
.container-with-me {
  max-width: 420px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.with-me-title-h {
  color: #141414;
  font-family: MakSemiBold;
  font-size: 42px;
  font-weight: 400;
  padding-top: 60px;
  padding-bottom: 20px;
}
.with-me-cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;
}
.with-me-card {
  padding: 14px;
  border: 1px solid #141414;
  display: flex;
  border-radius: 2px;
}

.with-me-card-img {
  margin-right: 10px;
  height: 32px;
}
.with-me-card-text {
  font-size: 16px;
  color: #141414;
  font-weight: 500;
  max-width: 330px;
}

.with-me-wrap-imgs {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  max-width: 400px;
  padding-bottom: 60px;
}

.with-me-wrap-img-left {
  background-image: url(img/with-me-left.jpg);
  width: 192px;
  height: 280px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.with-me-wrap-img-right {
  background-image: url(img/with-me-right.jpg);
  width: 192px;
  height: 280px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* With-me */

/* services */

.services {
  padding: 60px 13px;
  background-color: rgba(20, 20, 20, 1);
}
.services-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-header-text {
  font-size: 42px;
  font-weight: 400;
  font-family: MakSemiBold;
}
.services-header-img {
  position: relative;
  right: -13px;
}

.services-search {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.services-search-text {
  font-size: 22px;
  font-family: MakSemiBold;
  max-width: 260px;
}
.underline-white {
  text-decoration: underline;
}
.search-price {
  font-size: 20px;
  font-weight: 700;
}

.redirect-button {
  cursor: pointer;

  margin-top: 40px;
  width: 100%;
  background-color: rgba(137, 43, 40, 1);
  padding: 18px 0;
}

.redirect-button:hover {
  background-color: rgb(162, 52, 48);
}

.redirect-button-text {
  font-size: 16px;
  font-weight: 500;
  color: rgba(246, 245, 245, 1);
}

.services-solve {
  margin-top: 60px;
}

.services-solve {
  max-width: 385px;
  font-family: MakSemiBold;
  font-size: 24px;
  margin-bottom: 14px;
}

.services-block {
  padding: 20px 12px 20px 12px;
  border: 1px #f6f5f5 solid;
}

.service-block-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-block-first-row-title-right {
  align-items: center;

  display: flex;
  gap: 20px;
}
.service-block-first-row-title-right-time {
  font-size: 14px;
}

.services-block-first-columns {
  margin-top: 20px;
  display: flex;
  gap: 35px;
}
.services-block-first-column {
  /* display: flex;
  flex-direction: column;
  gap: 16px; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 30px;
  row-gap: 5px;
}

.services-block-first-column-text {
  max-width: 165px;
  font-size: 14px;
  font-weight: 300;
  color: #f6f5f5;
}

.services-block-first-column-text b {
  font-weight: 600;
}

.services-block-second-title {
  font-size: 16px;
  font-weight: 500;
  max-width: 370px;
  margin-bottom: 20px;
}

/* SERVICES END */

/* My product */

.my-product {
  padding: 60px 13px;
  background-color: #f6f5f5;
}
.my-product-title {
  font-size: 42px;
  color: #141414;
  font-family: MakSemiBold;
  max-width: 300px;
}
.my-product-title-info {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
  color: #892b28;
  font-weight: 600;
  max-width: 400px;
}
.my-product-title-img {
  background-image: url(img/my-product-title-img.jpg);
  width: 100%;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-product-line {
  height: 2px;

  background-color: #892b28;

  margin-top: 60px;
  margin-bottom: 60px;

  border-radius: 2px;
}

.my-product-vebinar-title {
  display: flex;
  justify-content: space-between;
}
.my-product-vebinar-title-left {
  font-family: MakExtraBold;
  font-size: 24px;
  color: #141414;
}
.my-product-vebinar-title-left-span {
  font-size: 18px;
  color: #141414;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.my-product-vebinar-title-right {
  display: flex;
  justify-content: space-between;
  height: 24px;
}
.my-product-vebinar-title-right-price {
  font-weight: 600;
  font-size: 18px;
  color: #101616;
}

.my-product-vebinar-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  max-width: 400px;
  color: #141414;
}

.my-product-video {
  margin-top: 20px;
}

.my-product-read-more-link {
  background-image: url(img/read-more-tg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  margin-top: 20px;
}
.my-product-read-more-link-text {
  padding: 26px 15px;
  font-weight: 600;
  font-size: 16px;
  color: #f6f5f5;
}

.my-product-read-more-what {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #141414;
}

.list-two-columns {
  padding-left: 15px;
  display: flex;
  gap: 35px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 30px;
  row-gap: 10px;
}

.columns b {
  font-weight: 600;
}

.column-li {
  font-size: 14px;
  color: #892b28;
  list-style-type: disc;
}

.column-li-text {
  max-width: 180px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

/* End my product */

/* Pack meditation */

.pack-meditation {
  padding: 60px 13px;
  background-color: #141414;
}
.pack-meditation-title {
  display: flex;
  justify-content: space-between;
}
.pack-meditation-title-text {
  font-family: MakSemiBold;
  font-size: 24px;
  color: #d9d9d9;
}
.pack-meditation-title-price {
  font-size: 20px;
  font-weight: 600;
  color: #d9d9d9;
}

.pack-meditation-text {
  max-width: 328px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 3px;
  color: #d9d9d9;
}

.pack-meditation-under-text {
  font-size: 16px;
  font-weight: 400;
  color: #d9d9d9;
}

.pack-meditation-listen-title {
  color: #d9d9d9;
  font-size: 18px;
  font-weight: 600;
}

.pack-meditation-names-meditations-title {
  font-size: 18px;
  font-weight: 600;
}
.pack-meditation-names-meditations-text {
  font-size: 16px;
  font-weight: 500;
  color: #d9d9d9;
}

.pack-meditation-list-with-names {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 20px;
}

.pack-meditation-item-name {
  display: flex;
  gap: 8px;
  /* align-items: center; */
}
.pack-meditation-item-number {
  font-size: 20px;
  font-weight: 600;
  color: #606060;
}
.pack-meditation-item-text {
  font-size: 16px;
  font-weight: 400;
  color: #d9d9d9;
  /* margin-left: 10px */
}

/* END Pack meditation */

/* Audio */

.audioPlayer {
  margin-top: 20px;
  border-radius: 2px;
  padding: 14px;
  background-color: #4a4a4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.audioPlayerMain {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.audioPlayerMainLeft {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.audioPlayerImage {
  border-radius: 2px;
  width: 60px;
  height: 60px;
}

.audioPlayerMainLeftTitle {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 3px;
}
.audioPlayerMainLeftText {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 13px;
}

.progress-stamp {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  gap: 5px;
  align-items: center;
}

.progress-container {
  position: relative;
  height: 4px;
  max-width: 226px;
  width: 100%;
  background-color: #f6f5f5;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.progress {
  height: 4px;
  width: 0px;
  background-color: #892b28;
}
.audioPlayerMainRight {
  cursor: pointer;
}

.pack-meditation-list-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  color: #d9d9d9;
}

/* END AUDIO */

/* Intensiv */

.intensiv {
  padding: 60px 16px;
  background-color: #f6f5f5;
}

.intensiv-img {
  background-image: url(img/intensiv-title.jpg);
  width: 100%;
  height: 240px;
  background-position: center;
  background-size: cover;
  margin-bottom: 60px;
}
.intensiv-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intensiv-title-text {
  font-family: MakSemiBold;
  font-size: 24px;
  color: #141414;
}
.intensiv-title-price-row {
  display: flex;
  align-items: center;
}
.intensiv-title-price {
  font-size: 20px;
  font-weight: 600;
  color: #101616;
}

.intensiv-text {
  margin-top: 3px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #141414;
}
.intensiv-text-under {
  font-size: 16px;
  font-weight: 400;
  color: #101616;
}

.intensiv-program-curse-title {
  font-size: 18px;
  font-weight: 600;
  color: #141414;
  margin-top: 20px;
  margin-bottom: 16px;
}
.black-line {
  height: 1px;
  width: 100%;
  background-color: #141414;
}

/* END Intensiv */

/* premium-product*/
.premium-product {
  padding: 60px 16px;
  background-color: #141414;
}
.premium-product-grey-text {
  font-size: 18px;
  font-weight: 600;
  color: #606060;
}
.premium-product-title {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 700;
  color: #f6f5f5;
}
.line-white {
  margin-top: 20px;
  height: 1px;
  width: 80px;
  background-color: #f6f5f5;
}
.premium-product-main-text {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #f6f5f5;
}

.premium-product-list-withimg {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.premium-product-list-withimg-left-list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  z-index: 1;
}
.premium-product-list-withimg-left-list-row {
  display: flex;
  gap: 7px;
}
.premium-product-list-withimg-left-list-number {
  width: 25px;
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  color: #4a4a4a;
}
.premium-product-list-withimg-left-list-text {
  font-size: 14px;
  font-weight: 400;
  color: #f6f5f5;
}

.premium-product-list-withimg-photo {
  max-width: 280px;
  width: 100%;
  max-height: 342px;
  position: absolute;
  right: -20px;
  bottom: 0;
  z-index: 0;
}
/* END premium-product*/

/* Premium product cards */

.premium-product-info {
  padding: 60px 16px;
  background-color: #141414;
  background-image: url(img/frame-bg.png);
  background-position: center;
  background-size: cover;
}

.premium-product-info-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}
.premium-product-info-card {
  padding: 0 14px;
  border: 1px #d9d9d9 solid;
  border-radius: 1px;
}
.premium-product-info-card-title {
  padding-top: 40px;
  font-size: 18px;
  font-weight: 600;
}
.premium-product-info-card-text {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 16px;
}

/* End Premium product cards */

/* This curse */

.this-course-for-you {
  padding: 0px 14px;
  background-image: url(img/thisCourseForYou.png);
  background-color: #141414;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.this-course-for-you-top {
  justify-content: center;
  text-align: center;
}

.this-course-for-you-text {
  font-size: 14px;
  font-weight: 400;
}

.this-course-for-you-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* END This curse */

/* Way */

.way-personality {
  padding: 30px 14px;
  padding-bottom: 60px;
  background-color: #141414;
}
.way-personality-title {
  font-size: 24px;
  font-family: MakSemiBold;
  margin-bottom: 16px;
}

.way-personality-video {
  /* width: 400px; */
  border: 1px white solid;
  width: 100%;
}

.row-line-white {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.way-personality-program {
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}

.meditation {
  font-size: 16px;
  font-weight: 600;
  color: #f6f5f5;
  margin-top: 10px;
}

.way-personality-course-menu {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.way-personality-course-menu-block {
  border: 1px #f6f5f5 solid;
  padding: 14px;
}
.way-personality-course-menu-block-title {
  font-size: 20px;
  font-weight: 500;
}
.way-personality-course-menu-block-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  margin-left: 15px;
  margin-bottom: 23px;
}
.way-personality-course-menu-block-list-item {
  font-size: 14px;
  font-weight: 400;
  color: #f6f5f5;
  list-style: disc;
}

.way-personality-course-menu-block-list-item::marker {
  color: #892b28;
}
.way-personality-course-menu-block-bottom {
  display: flex;
  justify-content: space-between;
}
.way-personality-course-menu-block-bottom-text {
  font-size: 20px;
  font-weight: 700;
}
.way-personality-course-menu-block-bottom-price {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}
/* END WAY */

/* The choise */

.the-choice-is-yours {
  padding: 60px 16px;
  background-image: url(img/yourChoice.jpg);
  background-position: center;
}
.the-choice-is-yours-title {
  font-family: MakSemiBold;
  font-size: 42px;
  font-weight: 600;
  padding-bottom: 70px;
}
.the-choice-is-yours-content {
  display: flex;
  justify-content: space-between;
}
.the-choice-is-yours-content-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.the-choice-is-yours-content-column-title {
  font-size: 18px;
  font-weight: 600;
}
.the-choice-is-yours-content-column-text {
  font-size: 14px;
  font-weight: 400;
}

/* End The choise */

.banner-photo {
  padding: 40px 16px;
  background-color: #f6f5f5;
}
.banner-photo-content {
  background-image: url(img/banner-photo.jpg);
  width: 100%;
  height: 244px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Important */

.important-question {
  padding: 60px 14px;
  background-color: #141414;
}
.important-question-top-title {
  font-family: MakSemiBold;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* END IMPORTANT */

/* testimonials-before-after */

.testimonials-before-after {
  padding: 60px 16px;
  background-color: #f6f5f5;
}
.testimonials-before-after-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials-before-after-header-title {
  font-family: MakSemiBold;
  font-size: 42px;
  font-weight: 600;
  color: #141414;
}
.testimonials-before-after-header-text {
  font-size: 18px;
  font-weight: 600;
  color: #141414;
}

.slider {
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
}

.slide {
  display: flex;
  gap: 16px;
}

.swiper-slide {
  display: flex;
  gap: 16px;
}

.slide-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  color: #141414;
  margin-top: 12px;
}

.slider-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.slider-controls-left-arrow {
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.slider-controls-paginations {
  font-family: MakSemiBold;
  font-size: 22px;
  font-weight: 400;
  color: #141414;
}
.slider-controls-right-arrow {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

#mySwiperUnder {
  display: none;
}

.clients-succesess {
  padding: 0px 16px 40px 16px;
  background-color: #f6f5f5;
}
.clients-succesess-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.clients-succesess-header-title {
  font-family: MakSemiBold;
  font-size: 42px;
  font-weight: 600;
  color: #141414;
}
.clients-succesess-header-line {
  height: 1px;
  background-color: #141414;
  width: 100%;
  position: relative;
  right: -16px;
}

.swiper-slide-clients-succes-header {
  display: flex;
  justify-content: space-between;
}
.swiper-slide-clients-succes-header-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
.swiper-slide-clients-succes-header-text {
  font-size: 20px;
  font-weight: 400;
}

.swiper-slide-clients-succes-underheader {
  display: flex;
  justify-content: space-between;
}
.swiper-slide-clients-succes-underheader-title {
  font-size: 16px;
  font-weight: 500;
}
.swiper-slide-clients-succes-underheader-text {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
}

.swiper-slide-clients-succes-testimonials-request {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.swiper-slide-clients-succes-request-text {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.swiper-slide-clients-succes-testimonials-text {
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}

.swiper-slide-clients-succes-pagination {
  font-family: MakSemiBold;
  font-size: 22px;
  font-weight: 400;
  color: #141414;
}

/* Contacts */

.contacts {
  padding: 60px 16px;
  background-color: #141414;
}
.contacts-header {
  display: flex;
  gap: 27px;
  align-items: center;
}
.contacts-header-title {
  font-family: MakSemiBold;
  font-size: 42px;
  font-weight: 600;
}
.contacts-header-line {
  height: 1px;
  background-color: #f6f5f5;
  width: 100%;
  position: relative;
  right: -16px;
}

.contacts-list-item {
  display: flex;
  gap: 18px;
  padding: 14px;
  align-items: center;
  border-bottom: 1px #606060 solid;
}

.contacts-list-item-text-title {
  font-size: 20px;
  font-weight: 600;
  color: #f6f5f5;
}
.contacts-list-item-text-link {
  font-size: 18px;
  font-weight: 400;
  color: #606060;
}

.contacts-list {
  display: flex;
  flex-direction: column;
}
.contacts-row-img {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
}
.contacts-row-photo-left {
  background-image: url(img/social-left-img.jpg);
  width: 192px;
  height: 250px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contacts-row-photo-right {
  background-image: url(img/social-right-img.jpg);
  width: 192px;
  height: 250px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Footer */

.article {
  padding: 60px 16px;
  background-color: #f6f5f5;
}
.article-header {
  display: flex;
  gap: 60px;
  align-items: center;
}
.article-header-title {
  font-family: MakSemiBold;
  font-size: 42px;
  font-weight: 600;
  color: #141414;
}
.article-header-line {
  height: 1px;
  background-color: #141414;
  width: 100%;
  position: relative;
  right: -16px;
}

/* ENd Footer */

/* Social */

.container-vik-social {
  margin-top: 85px;
  padding: 30px 16px 20px 16px;
  background-image: url(img/social-viktoria.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-vik-social-header {
  font-family: MakSemiBold;
  font-size: 42px;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.viktoria-line {
  height: 1px;
  width: 100%;
  background-color: #f6f5f5;
  position: relative;
  right: -16px;
}

.container-vik-social-content-text {
  font-size: 18px;
  font-weight: 300;
  margin-top: 400px;
}

.column-item-greyText {
  font-size: 15px;
  font-weight: 500;
  color: #606060;
  padding-left: 10px;
}
